body{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    line-height: 1.5;
    color: black;
    box-sizing: border-box;
}

/*Header */
.header{
    width: 100%;
    height: auto;
    display: block;
}

/*Container */
.container{
    width: 100%;
    margin: 0 auto;
    width:1400px;
}

.header_inside{
    background-color: black;
    padding: 10px;
}

/*Nav */
.nav{
    font-size: 30px;
    text-transform: uppercase; /*Capital letter */
}

.nav_info{
    display: inline-block;
    vertical-align: top;
    margin: 0 50px;
    color: lightseagreen;
    text-decoration: none;
}

/*Main block start */

.block_main{
    width: 1400px;
    height: auto; 
    display: flex;
    margin: 0 auto;
}

/*Photo and Contact information */
.photo{
    width: 35%;
    background-color: lightseagreen;
}

.photo_img{
    width: 420px;
    height: 500px;
    padding: 10px 10px 0px 10px;
    margin: 25px;
}
